* {
  background-color: rgb(16, 16, 16);
  color: white;
}

a {
  color: rgb(146, 206, 146);
  text-decoration: none;
}

a:hover {
  background-color: rgb(248, 105, 34);
  color: white;
}

audio {
  margin: 10px 0 0 40px;
}

#audio-control {
  cursor: pointer;
}